<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <style>
        body {
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
      </style>
</head>
<body>
    <h1>signup</h1>
    <form action="/user" method="post">
        <label for="">full name</label>
        <input type="text" required name="name" id="">
        <label for="">Email</label>
        <input type="text" required name="email" id="">
        <label for="">Password</label>
        <input type="text" required name="password" id="">
        <button type="submit">signup</button>
    </form>
</body>
</html>